body{
    text-align: center;
    background: linear-gradient( #4287f5 0%,#4bf542 100%);
}
html
{
    scroll-behavior: smooth;
}

img{
  width:300;
  height:300;
    border-radius: 50%;
    
}
#name{
   font-family: 'Courgette', cursive;
}
#About{
  padding:20px;
 font-size:18px;
  text-align:center;
  background-color: aquamarine;
}

#welcome {
    padding: 70px;
    text-align: center;
}

h1 {

    font-size: 18px;
}

p {
    font-size: 18px;
    color: #6A1B9A;

}

h2 {
    font-size: 20px;
    color: #003487;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}



.menu {
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}

.menu a {
    color: black !important;
}


.link {
    color: crimson;
    display: inline;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
}

.link:hover {
    background-color: beige;
}

#My work a {
    font-size: 30px;

}

#References a {
    font-size: 30px;

}

#picture {
    width: auto;
    height: 300px;
    border-radius: 0%;
    margin: 20px;
}

.inspiration {
    background: #373B44;
    background: linear-gradient(#4286f4, #373B44);
    padding-top: 20px;
}

img {
    transition: transform .2s;
    border: 10px solid #AAAAAA;
}

img:hover {
    transform: scale(0.9);
}

#myYt{
    background-color: red;
    border-radius: 45px;
}

li{
    display: inline;
    float: left;
}
ul {
    position: fixed;
    background-color: gray;
  }